.inquiry-search-area{
    width: 1560px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(187, 187, 187);
}

.b-red{
    background-color: #ff3131;
}

.model-search-area{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.model-search-box-area{
    width: 900px;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 5px rgb(145, 145, 145);
}

.model-search-category{
    padding-left: 10px;
    width: 150px;
    height: 60px;
    border: none;
    font-size: 18px;
    font-family: 'Noto Sans KR';
}


.model-serach-category:focus{
    outline: none;
}

.model-serach-input{
    padding-left: 15px;
    font-size: 18px;
    width: 750px;
    height: 60px;
    border: none;
    font-family: 'Noto Sans KR';
}

.model-serach-input:focus{
    outline: none;
}

.search-btn-area{
    margin-left: 40px;
}

.search-btn-area > button{
    width: 130px;
    height: 50px;
    border: none;
    background-color: #FFCE31;
    font-weight: bold;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    cursor: pointer;
}

.member-area{
    width: 1560px;
    height: 737px;
    display: flex;
    flex-direction: row;
    
}

.member-list-area{
    overflow-y: auto;
    width: 1000px;
    height: 100%;
    background-color: white;
}

.member-list-area::-webkit-scrollbar {
    display: none;
  }

.member-list{
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid rgb(187, 187, 187);
    align-items: center;
    
}

.member-list:hover{
    background-color: #FEFFD0;
}

.member-list-img{
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    background-color: black;
    
}

.member-list-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-list-text{
    margin-left: 20px;
}

.member-list-text > span:first-of-type{
    font-weight: 800;
    font-size: 18px;
}

.member-list-text > span:last-of-type{
    font-size: 14px;
    color: rgb(86, 86, 86);
}

.member-detail-area{
    width: 560px;
    height: 100%;
    background-color: aliceblue;
}

.member-detail-guide-area{
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#member-detail-guide-img{
    font-size: 120px;
    color: rgb(124, 124, 124);
}

.member-detail-guide-text{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(124, 124, 124);
    font-weight: 800;
}

.member-detail-header{
    width: 100%;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-detail-img{
    width: 380px;
    height: 380px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

}

.member-detail-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-detail-body-area{
    margin-top: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    width: 500px;
    height: 290px;
    margin-left: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 14px;
}
.member-detail-body{
    margin-top: 10px;
    margin-left: 20px;
}

.member-detail-body-title{
    font-size: 30px;
    font-weight: 800;
}

.member-detail-name{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 800;
}

.member-detail-content-box{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 800;
}

.member-detail-content{
    margin-left: 40px;
    color: #969696;
}

.category-color{
    color: #e7bf3a;
}

.yellow{
    color: #FFCE31;
}

.b-yellow{
    background-color: #FFCE31;
}

.red{
    color: #ff3131;
}
/* 알람 */
.s-alarm-window {
    position: fixed;
    top: 80%;
    left: 87.5%;
    /* position: relative; */
    width: 100%;
    height: 100vh;
    /* width: 100%;
    height: 100%; */
    
    
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
    /* display: block; */
}

.s-alarm-popup {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: #fff8be4c;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
    /* 임시 지정 */
    width: 450px;
    height: 290px;
    
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}

.show .alarm-popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}

#s-alarm-close{
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    color: #ff3131b6;
    margin-right: 10px;
    margin-top: 5px;
}

.alarm-header{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
}

.alarm-header-text{
    font-size: 20px;
    font-weight: 600;
}

.alamr-body-area{
    width: 100%;

}

.model-alarm-content{
    margin-left: 40px;
}

.model-alarm-img > img{
    width: 110px;
    height: 60px;
}

.model-alarm-text{
    font-size: 18px;
    font-weight: 800;
}

.model-alarm-date{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 12px;
    color: rgb(144, 144, 144);
}


.model-alarm-btn{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 60px;
}

.model-alarm-btn > button{
    background-color: #fff06da1;
    width: 390px;
    height: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 800;
    font-size: 20px;
    border-radius: 22px;
    border: none;
}

.margin-r50{
    margin-right: 50px;
}

#check-btn{
    cursor: pointer;
}

#check-btn:hover{
    background-color: #fff06dec;
}

/* 배달 알람 */
.delivery-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.delivery-window {
    position: relative;
    width: 100%;
    height: 100%;
}

.delivery-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
    /* 임시 지정 */
    width: 700px;
    height: 700px;
    
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
 }

.show .delivery-popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.delivery-model-header-area{
    width: 700px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFCE31;
}

.delivery-model-header{
    margin-left: 20px;
    width: 660px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delivery-close{
    font-size: 30px;
    font-weight: 900;
    color: red;
    cursor: pointer;
}

.delivery-model-header-text{
    font-size: 20px;
    font-weight: 600;
}

.delivery-model-body-area{
    width: 620px;
    margin: auto;
    margin-top: 20px;
}

.model-body-content{
    margin-top: 5px;
    margin-left: 3px;
    height: 300px;
    width: 600px;
    resize: none;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 6px;
}

.delivery-model-body-first{
    width: 660px;
    display: flex;
    justify-content: space-between;

}

.delivery-model-title-text{
    font-size: 19px;
    font-weight: bold;
    color: gray;
}

.delivery-content-header{
    height: 50px;
    display: flex;
    align-items: center;
}

.delivery-model-search-box{
    margin-left: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.delivery-model-search-box > input{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
    border: 1px solid rgb(173, 173, 173);
}

.delivery-model-search-box > button{
    width: 40px;
    height: 30px;
    border: none;
    background-color: #FFCE31;
    font-family: 'Noto Sans KR';
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
}

.delivery-model-input-date{
    padding-left: 10px;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 260px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgb(173, 173, 173);
}

.delivery-content-body{
    margin-top: 5px;
    width: 600px;
    height: 400px;
    display: flex;
}

.delivery-member-list-area{
    width: 260px;
    background-color: white;
    height: 100%;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 12px;
    overflow-y: scroll;
}

.delivery-member-list-area::-webkit-scrollbar {
    display: none;
  }

.delivery-member-list{
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid rgb(187, 187, 187);
    align-items: center;
    
}

.delivery-member-list:hover{
    background-color: #FEFFD0;
}

.delivery-member-list-img{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
    
}

.delivery-member-list-img > img {
    width: 100%;
    height: 100%;
    background-color: black;
    object-fit: cover;
}

.delivery-member-list-text{
    margin-left: 10px;
}

.delivery-member-list-text > span:first-of-type{
    font-weight: 800;
    font-size: 14px;
}

.delivery-member-list-text > span:last-of-type{
    font-size: 12px;
    color: rgb(86, 86, 86);
}

.delivery-model-btn{
    width: 300px;
    height: 50px;
    background-color: #FFCE31;
    border: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}


.delivery-member-btn-area{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.member-move-btn{
    width: 30px;
    height: 30px;
    border-radius: 70%;
    border: none;
    background-color: #FFCE31;
    font-size: 20px;
    color: white;
}

.delivery-model-btn-area{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.delivery-member-btn-area > button:first-of-type{
    margin-bottom: 30px;
}



.margin-r50{
    margin-right: 50px;
}


/* 팔로우 영역 */
/* 우클릭 시 강퇴 버튼 */


.follow-area li {
    display: none;
    background-color: #ffffff;
    border: 1px solid #545454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 5px;
    border-radius: 4px;
    z-index: 1000; /* 팔로우 버튼이 다른 요소 위에 표시되도록 설정 */
    position: relative;
}

.follow-area.show li {
    display: block; /* .show 클래스가 있을 때만 팔로우 버튼을 보이도록 설정 */
}

.follow-area li a {
    color: #000;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-decoration-line: none;
    position: relative;
}

.follow-area li:hover {
    background-color:#fdeaab;
}

