.sanction-search-area{
    width: 1560px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sanction-search{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sanction-search-box-area{
    width: 900px;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 5px rgb(145, 145, 145);
}

.sanction-search-category{
    padding-left: 10px;
    width: 150px;
    height: 60px;
    border: none;
    font-size: 18px;
    font-family: 'Noto Sans KR';
}


.sanction-serach-category:focus{
    outline: none;
}

.sanction-serach-input{
    padding-left: 15px;
    font-size: 18px;
    width: 750px;
    height: 60px;
    border: none;
    font-family: 'Noto Sans KR';
}

.sanction-serach-input:focus{
    outline: none;
}

.sanction-search-btn-area{
    margin-left: 40px;
}

.sanction-search-btn-area > button{
    width: 130px;
    height: 50px;
    border: none;
    background-color: #FFCE31;
    font-weight: bold;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    cursor: sanctioner;
}

.sanction-list-area{
    width: 1560px;
    height: 700px;
    display: flex;
    justify-content: center;
}

.sanction-list-table-area{
    border-radius: 20px;
    width: 1500px;
    height: 670px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sanction-list-table{
    width: 1400px;
    height: 560px;
    display: flex;
    flex-direction: column;
}


.sanction-list{
    width: 1350px;
    border-bottom: 2px solid rgb(187, 187, 187);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    cursor: pointer;
}

.sanction-list-profile{
    margin-left: 20px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sanction-member-profile{
    width: 55px;
    height: 55px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid rgb(210, 210, 210);
}

.sanction-member-profile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sanction-member-text{
    width: 100px;
    margin-left: 10px;
    font-size: 12px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sanction-list-content{
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sanction-list-admin{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sanction-list-date{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-area{
    margin-right: 10px;
}
    
.page-area > a {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: sanctioner;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.page-area > a:hover{
    background-color: #3183ff;
    color: white;
}

#current-page{
    color: #3183ff;
}

#current-page:hover{
    color: #3183ff;
}

.category-color{
    color: #e7bf3a;
}

.blue{
    color: #3183ff;
}

.yellow{
    color: #FFCE31;
}

.red{
    color: #ff3131;
}

/* 상벌점 상세 조회 모달 */
.sanction-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.sshow {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.sanction-window {
    position: relative;
    width: 100%;
    height: 100%;
}

.sanction-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
    /* 임시 지정 */
    width: 600px;
    
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
 }

.sshow .sanction-popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.sanction-model-header-area{
    width: 600px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ff3131;
}

.sanction-model-header{
    margin-left: 20px;
    width: 560px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sanction-close{
    font-size: 30px;
    font-weight: 900;
    color: black;
    cursor: pointer;
}

.sanction-model-header-text{
    font-size: 20px;
    font-weight: 600;
}

.sanction-model-body-area{
    width: 520px;
    margin: auto;
    margin-top: 20px;
}

.sanction-model-body-content{
    margin-top: 10px;
    margin-left: 3px;
    padding: 10px;
    width: 500px;
    resize: none;
    border-radius: 6px;
    font-weight: 800;
    font-size: 24px;
}

.sanction-model-body-first{
    width: 560px;
    display: flex;
    justify-content: space-between;

}

.sanction-model-title-text{
    font-size: 19px;
    font-weight: bold;
    color: gray;
}

.sanction-model-sanction-num{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 800;
}

.sanction-model-title-text1{
    font-size: 19px;
    font-weight: bold;
    color: gray;
    margin-right: 5px;
}

.sanction-model-sanction-member{
    margin-right: 60px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: end;
}


.sanction-model-member-info{
    margin-top: 5px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sanction-model-member-profile{
    margin-left: 10px;
    height: 60px;
    width: 60px;
    border-radius: 70%;
    overflow: hidden;
    border-radius: 1px solid rgb(210, 210, 210);
}

.sanction-model-member-profile > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sanction-model-btn-area{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sanction-model-edit-btn{
    width: 100px;
    height: 50px;
    background-color: #FFCE31;
    border: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 18px;
    cursor: sanctioner;
    margin-right: 50px;
}

.sanction-model-delete-btn{
    width: 100px;
    height: 50px;
    background-color: #ff3131;
    border: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 18px;
    cursor: sanctioner;
}

/* 상벌점 수정 모달 */
.sanction-edit-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1001;
    /* display: none; */
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.eshow {
    opacity: 1;
    z-index: 1001;
    transition: all .5s;
    /* display: block; */
}

.sanction-edit-window {
    position: relative;
    width: 100%;
    height: 100%;
}

.sanction-edit-popup {
    position: absolute;
    top: 26%;
    left: 37%;
    /* transform: translate(-50%, -50%); */
    background-color: #f5f5f5;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
    /* 임시 지정 */
    width: 500px;
    
    /* 초기에 약간 아래에 배치 */
    /* transform: translate(-50%, -40%); */
 }

/* .ashow .qna-answer-popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
} */

.sanction-edit-model-header-area{
    width: 500px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFCE31;
}

.sanction-edit-model-header{
    margin-left: 20px;
    width: 470px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#sanction-edit-close{
    font-size: 30px;
    font-weight: 900;
    cursor: sanctioner;
    
}

.sanction-edit-model-header-text{
    font-size: 20px;
    font-weight: 600;
}

.sanction-edit-model-body-area{
    width: 450px;
    margin: auto;
    margin-top: 20px;
}

.sanction-edit-model-body-text{
    font-size: 20px;
    font-weight: 900;
}

.sanction-edit-model-score-box{
    margin-top: 10px;
    width: 450px;
    height: 40px;
    border: 1px solid rgb(209, 209, 209);
    padding-left: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.sanction-edit-model-content{
    margin-top: 10px;
    width: 450px;
    height: 200px;
    border: 1px solid rgb(209, 209, 209);
    resize: none;
    padding: 10px;
    border-radius: 8px;
}



.sanction-edit-model-btn-area{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sanction-edit-model-check-btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 18px;
    cursor: sanctioner;
    background-color: #FFCE31;
}
