<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	
	<select id="listCnt" resultType="int">
		SELECT COUNT(A.NO)
		FROM ACCOUNT A
		WHERE A.WRITER_NO = ${no}
		AND A.STATUS = 'Y'
		<if test="searchType != null and searchType != '' and searchValue != null and searchValue != ''">
			<choose>
				<when test="searchType == 'content'">
					AND A.CONTENT LIKE '%${searchValue}%'
				</when>
				<when test="searchType == 'accountDate'">
					AND TO_CHAR(A.ACCOUNT_DATE, 'YYYY-MM') LIKE '%${searchValue}%'
				</when>
				<when test="searchType == 'accountCno'">
					AND ACCOUNT_CNO LIKE '%${searchValue}%'
				</when>
			</choose>
		</if>
	</select>
	
	<select id="list" resultType="com.hp.app.account.vo.AccountVo">
		SELECT 
		    A.NO AS NO
		    ,A.CONTENT AS CONTENT
		    ,A.PRICE AS PRICE
		    ,TO_CHAR(A.ACCOUNT_DATE, 'YYYY-MM-DD') AS ACCOUNT_DATE
            ,AC.NAME AS CATEGORY_NAME
            ,A.ACCOUNT_CNO AS ACCOUNT_CNO
		FROM ACCOUNT A
		JOIN ACCOUNT_CATEGORY AC 
		ON A.ACCOUNT_CNO = AC.NO
		JOIN MEMBER M
		ON A.WRITER_NO = M.NO
		WHERE A.WRITER_NO = ${no}
		AND A.STATUS = 'Y'
		<if test="searchType != null and searchType != '' and searchValue != null and searchValue != ''">
			<choose>
				<when test="searchType == 'content'">
					AND A.CONTENT LIKE '%${searchValue}%'
				</when>
				<when test="searchType == 'accountDate'">
					AND TO_CHAR(A.ACCOUNT_DATE, 'YYYY-MM') LIKE '%${searchValue}%'
				</when>
				<when test="searchType == 'accountCno'">
					AND ACCOUNT_CNO LIKE '%${searchValue}%'
				</when>
			</choose>
		</if>
		ORDER BY A.ACCOUNT_DATE DESC
	</select>
	
	<select id="calList" resultType="com.hp.app.account.vo.AccountVo">
		SELECT 
		    A.NO AS NO
		    ,A.CONTENT AS CONTENT
		    ,A.PRICE AS PRICE
		    ,TO_CHAR(A.ACCOUNT_DATE, 'YYYY-MM-DD') AS ACCOUNT_DATE
            ,AC.NAME AS CATEGORY_NAME
            ,A.ACCOUNT_CNO AS ACCOUNT_CNO
		FROM ACCOUNT A
		JOIN ACCOUNT_CATEGORY AC 
		ON A.ACCOUNT_CNO = AC.NO
		JOIN MEMBER M
		ON A.WRITER_NO = M.NO
		WHERE A.WRITER_NO = #{no}
		AND A.STATUS = 'Y'
		ORDER BY A.ACCOUNT_DATE DESC
	</select>

	<insert id="add">
		INSERT INTO ACCOUNT
			(
			NO
			,WRITER_NO
			,ACCOUNT_CNO
			,CONTENT
			,PRICE
			,ACCOUNT_DATE
			)
		VALUES 
			(
			SEQ_ACCOUNT_NO.NEXTVAL
			,#{writerNo}
			,#{accountCno}
			,#{content}
			,#{price}
			,#{accountDate}
			)
	</insert>
	
	<select id="selectByNo" resultType="com.hp.app.account.vo.AccountVo">
		SELECT 
		    A.NO AS NO
		    ,A.CONTENT AS CONTENT
		    ,A.PRICE AS PRICE
		    ,TO_CHAR(A.ACCOUNT_DATE, 'YY.MM.DD') AS ACCOUNT_DATE
            ,AC.NAME AS CATEGORY_NAME
		FROM ACCOUNT A
		JOIN ACCOUNT_CATEGORY AC 
		ON A.ACCOUNT_CNO = AC.NO
		WHERE A.NO = #{no}
		AND A.STATUS = 'Y'
	</select>
	
	<update id="edit">
		UPDATE ACCOUNT SET 
			ACCOUNT_CNO = #{accountCno},
			CONTENT = #{content},
			PRICE = #{price},
			ACCOUNT_DATE = #{accountDate}
		WHERE NO= #{no}
	</update>
	
	<select id="selectByCategory" resultType="com.hp.app.account.vo.AccountVo">
		SELECT 
			AC.NAME AS CATEGORY_NAME
			,SUM(A.PRICE) AS PRICE_CNT
		FROM ACCOUNT A
		JOIN ACCOUNT_CATEGORY AC
		ON (A.ACCOUNT_CNO = AC.NO)
		WHERE A.WRITER_NO = #{no}
		AND A.STATUS = 'Y'
		GROUP BY AC.NAME
	</select>
	
	<update id="del">
		UPDATE ACCOUNT SET
		STATUS = 'N'
		WHERE NO = #{no}
	</update>
	
	

</mapper>