<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- 게시글 목록 -->	
	<select id="getList" resultType="com.hp.app.board.vo.BoardVo">
		SELECT
		    B.NO AS NO
		    ,B.WRITER_NO AS WRITER_NO
		    ,M.NAME AS WRITER_NAME
		    ,BOARD_STATUS_NO
		    ,S.NAME AS BOARD_STATUS_NAME
		    ,B.BOARD_CNO AS BOARD_CNO
		    ,C.NAME AS BOARD_CNAME
		    ,TITLE
		    ,B.CONTENT AS CONTENT
		    ,B.ENROLL_DATE AS ENROLL_DATE
		    ,B.MODIFY_DATE AS MODIFY_DATE
		    ,HIT
		    ,COALESCE(A.LOVE_CNT, 0) AS LOVE_CNT
	 		<!-- ,L.MEMBER_NO AS LOVE_MEMBER -->
<!-- 		    ,I.NO AS IMG_NO
		    ,I.NAME AS IMG_NAME -->
		FROM
		    BOARD B
		    JOIN BOARD_CATEGORY C ON B.BOARD_CNO = C.NO
		    JOIN BOARD_STATUS S ON B.BOARD_STATUS_NO = S.NO
		    JOIN MEMBER M ON B.WRITER_NO = M.NO
		    LEFT JOIN
		    		(
	        			SELECT BOARD_NO, COUNT(MEMBER_NO) AS LOVE_CNT
	        			FROM LOVE
	        			GROUP BY BOARD_NO
	        		) A ON A.BOARD_NO = B.NO
		    <!-- JOIN LOVE L ON B.NO = L.BOARD_NO -->
			<!-- JOIN BOARD_IMG I ON B.NO = I.BOARD_NO -->
		WHERE S.NO != 5
		<!-- AND C.NO = 4 -->
		
 		<if test="searchType == 'title' and searchValue != null and searchValue != ''">
			AND TITLE LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'content' and searchValue != null and searchValue != ''">
			AND B.CONTENT LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'writer' and searchValue != null and searchValue != ''">
			AND M.NAME LIKE ('%${searchValue}%')
		</if>
		
		<choose>
			<when test="sortType == 'date'">
				ORDER BY B.ENROLL_DATE DESC
			</when>
			<when test="sortType == 'hit'">
				ORDER BY HIT DESC, B.NO DESC
			</when>
			<when test="sortType == 'love'">
				ORDER BY LOVE_CNT DESC, B.NO DESC
			</when>
			<otherwise>
				ORDER BY B.NO DESC
			</otherwise>
		</choose>

	</select>	


	<!-- 게시글 개수 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(B.NO)
		FROM
		    BOARD B
		    JOIN BOARD_CATEGORY C ON B.BOARD_CNO = C.NO
		    JOIN BOARD_STATUS S ON B.BOARD_STATUS_NO = S.NO
   		WHERE S.NO != 5
   		<!-- AND C.NO = 4 -->
   		
   		<if test="searchType == 'title' and searchValue != null and searchValue != ''">
			AND TITLE LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'content' and searchValue != null and searchValue != ''">
			AND B.CONTENT LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'writer' and searchValue != null and searchValue != ''">
			AND M.NAME LIKE ('%${searchValue}%')
		</if>
		
	</select>
	
	
	<!-- 댓글 작성 -->
	<insert id="writeReply">
		INSERT INTO REPLY (
			NO
			,BOARD_NO
			,WRITER_NO
			,CONTENT
<!-- 			<if test="replyNo != null">
				,REPLY_NO
			</if> -->
		)
		VALUES (
			SEQ_REPLY_NO.NEXTVAL
			,#{boardNo}
			,#{writerNo}
			,#{content}
		)
	</insert>
	
</mapper>