<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<select id="getList" resultType="com.hp.app.notice.vo.NoticeVo">
		SELECT 
			N.NO AS NO
			,N.NOTICE_CNO AS NOTICE_CNO
			,C.NAME AS NOTICE_CNAME
			,('[' || C.NAME || ']' || ' ' || N.TITLE) AS FULL_NAME
			,N.WRITER_NO AS WRITER_NO
			,A.NAME AS WRITER_NAME
			,TITLE
			,CONTENT
			,ENROLL_DATE
			,MODIFY_DATE
			,STATUS
			,HIT
			,IMPORTANT_YN
		FROM
			NOTICE N
			JOIN NOTICE_CATEGORY C ON N.NOTICE_CNO = C.NO
			JOIN ADMIN A ON N.WRITER_NO = A.NO
		WHERE N.STATUS = 'Y'
		
		<if test="searchType == 'title' and searchValue != null">
			AND ('[' || C.NAME || ']' || ' ' || N.TITLE) LIKE ('%' || #{searchValue} || '%')
		</if>
		<if test="searchType == 'content' and searchValue != null">
			AND N.CONTENT LIKE ('%' || #{searchValue} || '%')
		</if>
		<if test="searchType == 'writer' and searchValue != null">
			AND A.NAME LIKE ('%' || #{searchValue} || '%')
		</if>
		
		<choose>
			<when test="sortType == 'date'">
				ORDER BY N.ENROLL_DATE DESC
			</when>
			<when test="sortType == 'hit'">
				ORDER BY N.HIT DESC, N.NO DESC
			</when>
			<otherwise>
				ORDER BY N.NO DESC
			</otherwise>
		</choose>
		
	</select>	

	<select id="countBoard" resultType="int">
		SELECT COUNT(N.NO)
		FROM
			NOTICE N
			JOIN NOTICE_CATEGORY C ON N.NOTICE_CNO = C.NO
			JOIN ADMIN A ON N.WRITER_NO = A.NO
		WHERE STATUS ='Y'
		<if test="searchType == 'title' and searchValue != null">
			AND ('[' || C.NAME || ']' || ' ' || N.TITLE) LIKE ('%' || #{searchValue} || '%')
		</if>
		<if test="searchType == 'content' and searchValue != null">
			AND N.CONTENT LIKE ('%' || #{searchValue} || '%')
		</if>
		<if test="searchType == 'writer' and searchValue != null">
			AND A.NAME LIKE ('%' || #{searchValue} || '%')
		</if>
	</select>

</mapper>