<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	
	<select id="selectRoomListByMno" resultType="com.hp.app.chat.vo.ChatRoomVo">
		SELECT
	    CR.NO,
	    CML.MEMBER_NO,
	    M.NAME AS MEMBER_NAME,
	    M.PROFILE AS MEMBER_PROFILE
		FROM
		    CHATTING_ROOM CR
		JOIN
		    CHATTING_MEMBER_LIST CML ON CR.NO = CML.CHATTING_ROOM_NO
		JOIN
		    MEMBER M ON CML.MEMBER_NO = M.NO
		WHERE
		    CR.NO IN (
		        SELECT CHATTING_ROOM_NO
		        FROM CHATTING_MEMBER_LIST
		        WHERE MEMBER_NO = #{mno})
	</select>
	
	
	<select id="selectDetailByNo" resultType="com.hp.app.chat.vo.ChatRoomVo">
		SELECT 
		CR.NO
		,CR.NAME
		,CR.IMG
		,CR.MASTER_NO
		,M.NO AS MEMBER_NO
		, M.NAME AS MEMBER_NAME
		, M.PROFILE AS MEMBER_PROFILE
		FROM CHATTING_ROOM CR
		JOIN CHATTING_MEMBER_LIST CML
		ON CR.NO = CML.CHATTING_ROOM_NO
		JOIN MEMBER M
		ON CML.MEMBER_NO = M.NO
		WHERE CR.NO = #{no}
	</select>
	
	<select id="friendListByNo" resultType="com.hp.app.chat.vo.ChatFriendVo">
		SELECT 
		M.NAME AS FRIEND_NAME
		,M.NO AS FRIEND_NO
		,M.PROFILE AS FRIEND_PROFILE
		FROM FRIEND F
		JOIN MEMBER M
		ON F.FRIEND_NO = M.NO
		WHERE F.MEMBER_NO = #{memberNo}
		<if test="searchValue != null and searchValue != ''">
			AND M.NAME LIKE '%${searchValue}%'
		</if>
	</select>
	
	<!-- 채팅방 정보를 INSERT 하는 쿼리 -->
	<insert id="addChatRoom">
	INSERT INTO CHATTING_ROOM 
	(NO, MASTER_NO,NAME)
	VALUES (SEQ_CHATTING_ROOM_NO.NEXTVAL, #{masterNo}, #{roomName}) 
	</insert>

	<select resultType="com.hp.app.chat.vo.ChatRoomVo" id="selectRoomNo">
		SELECT NO
		FROM CHATTING_ROOM
		WHERE MASTER_NO = #{masterNo}
		ORDER BY NO DESC
		FETCH FIRST ROW ONLY
	</select>

	<insert id="insertMemberInRoom">
	INSERT INTO 
	CHATTING_MEMBER_LIST
	(
		CHATTING_ROOM_NO
		,MEMBER_NO
	)
	VALUES
	(
		#{roomNo}
		,#{memberNo}
	) 
	</insert>
	
	<select id="frinedName" resultType="java.lang.String">
		SELECT NAME
		FROM MEMBER
		WHERE NO = #{fno}
	</select>
	
	<insert id="insertMsg">
	    INSERT INTO CHATTING_MESSAGE
	    (
	        NO
	        ,CHATTING_ROOM_NO
	        ,MEMBER_NO
	        ,CONTENT
	    )
	    VALUES 
	    (
	        SEQ_CHATTING_MESSAGE_NO.NEXTVAL
	        ,#{roomNo}
	        ,#{memberNo}
	        ,#{msg}
	    )
	</insert>
	
	<select id="getMsg" resultType="com.hp.app.chat.vo.ChatMessageVo">
		SELECT 
		CM.CONTENT
		, CM.SEND_TIME,M.NAME AS MEMBER_NAME
		,M.PROFILE  AS MEMBER_PROFILE
		FROM CHATTING_MESSAGE CM
		JOIN MEMBER M
		ON CM.MEMBER_NO = M.NO
		WHERE CHATTING_ROOM_NO = #{roomId}
		ORDER BY CM.SEND_TIME ASC 
	</select>
	
	<delete id="quitMemberList">
		DELETE CHATTING_MEMBER_LIST
		WHERE CHATTING_ROOM_NO = #{roomNo}
		AND MEMBER_NO = #{memberNo}
	</delete>
	
<!-- 	<delete id="quit">
		DELETE CHATTING_ROOM
		WHERE NO = #{roomNo}
	</delete> -->
	
	<update id="updateReadTime">
		UPDATE chatting_member_list c
			SET c.READ_TIME = SYSTIMESTAMP
			WHERE c.CHATTING_ROOM_NO = #{chattingRoomNo}
			AND c.MEMBER_NO = (
			    SELECT M.NO
			    FROM MEMBER M
			    WHERE M.NO = #{memberNo}
			)
			AND EXISTS (
			    SELECT 1
			    FROM MEMBER M
			    WHERE M.NO = C.MEMBER_NO
			)
	</update>
	
	<select id="getLastReadTime" resultType="java.lang.String">
		SELECT *
		FROM(
		SELECT READ_TIME
		FROM CHATTING_MEMBER_LIST
		WHERE MEMBER_NO = #{memberNo}
		AND CHATTING_ROOM_NO = #{roomNo}
		ORDER BY READ_TIME DESC)
		WHERE ROWNUM = 1
	</select>
	
	<select id="getFLastReadTime" resultType="java.lang.String">
		SELECT *
		FROM(
		SELECT READ_TIME
		FROM CHATTING_MEMBER_LIST
		WHERE MEMBER_NO != #{memberNo}
		AND CHATTING_ROOM_NO = #{roomNo}
		ORDER BY READ_TIME DESC)
		WHERE ROWNUM = 1
	</select>
	
	
	<select id="getAllSendTime" resultType="com.hp.app.chat.vo.ChatMessageVo">
		SELECT CM.SEND_TIME
			,M.NAME
			FROM CHATTING_MESSAGE CM
			JOIN MEMBER M
			ON CM.MEMBER_NO = M.NO
			WHERE CHATTING_ROOM_NO = #{roomNo}
			AND MEMBER_NO != #{memberNo}
	</select>
	
	<select id="lastMessage" resultType="com.hp.app.chat.vo.ChatMessageVo">
		SELECT *
			FROM (
			SELECT CM.CONTENT
            , CM.SEND_TIME
            , CM.CHATTING_ROOM_NO
            , M.NAME AS MEMBER_NAME
            , M.PROFILE AS MEMBER_PROFILE
			FROM CHATTING_MESSAGE CM
            JOIN MEMBER M 
            ON CM.MEMBER_NO = M.NO
			WHERE CHATTING_ROOM_NO = #{roomNo}
            AND M.NO != #{memberNo}
			ORDER BY SEND_TIME DESC)
		WHERE ROWNUM = 1
	</select>
	
	
	<select id="getChatRoomMembers" resultType="com.hp.app.chat.vo.ChatMemberVo">
		SELECT 
		M.NO AS MEMBER_NO
		, M.NAME AS MEMBER_NAME
		, M.PROFILE AS MEMBER_PROFILE
        , CML.READ_TIME 
        , CR.NO AS CHATTING_ROOM_NO
		FROM CHATTING_ROOM CR
		JOIN CHATTING_MEMBER_LIST CML
		ON CR.NO = CML.CHATTING_ROOM_NO
		JOIN MEMBER M
		ON CML.MEMBER_NO = M.NO
		WHERE CR.NO = #{roomNo}
        AND CML.MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getMessageReadMembers" resultType="com.hp.app.chat.vo.ChatMemberVo">
		SELECT 
		M.NO AS MEMBER_NO
		, M.NAME AS MEMBER_NAME
		, M.PROFILE AS MEMBER_PROFILE
		FROM CHATTING_MESSAGE CM
		JOIN MEMBER M
		ON CM.MEMBER_NO = M.NO
		WHERE CM.NO = #{no}
	</select>
	
	<select id="getUnreadMsg" resultType="com.hp.app.chat.vo.ChatMessageVo">
		SELECT 
		CM.MEMBER_NO,
		CM.SEND_TIME,
		CM.CONTENT,
		M.NAME
		FROM CHATTING_MESSAGE CM
		JOIN CHATTING_MEMBER_LIST CML
		ON CM.MEMBER_NO = CML.MEMBER_NO
		JOIN MEMBER M
		ON CM.MEMBER_NO = M.NO
		WHERE CML.CHATTING_ROOM_NO = #{roomNo}
		AND CML.MEMBER_NO != #{memberNo}
		AND CM.SEND_TIME BETWEEN #{friendReadTime} AND #{loginMemReadTime}
	</select>

</mapper>