<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	
	<select id="selectRoomListByMno" resultType="com.hp.app.chat.vo.ChatRoomVo">
		SELECT * 
		FROM CHATTING_ROOM CR
		JOIN CHATTING_MEMBER_LIST CML
		ON CR.NO = CML.CHATTING_ROOM_NO
		WHERE CML.MEMBER_NO = #{mno}
	</select>
	
	
	<select id="selectDetailByNo" resultType="com.hp.app.chat.vo.ChatRoomVo">
		SELECT 
		CR.NO
		,CR.NAME
		,CR.IMG
		,CR.MASTER_NO
		,M.NO AS MEMBER_NO
		, M.NAME AS MEMBER_NAME
		, M.PROFILE AS MEMBER_PROFILE
		FROM CHATTING_ROOM CR
		JOIN CHATTING_MEMBER_LIST CML
		ON CR.NO = CML.CHATTING_ROOM_NO
		JOIN MEMBER M
		ON CML.MEMBER_NO = M.NO
		WHERE CR.NO = #{no}
	</select>
	
	<select id="friendListByNo" resultType="com.hp.app.chat.vo.ChatFriendVo">
		SELECT 
		M.NAME AS FRIEND_NAME
		,M.NO AS FRIEND_NO
		,M.PROFILE AS FRIEND_PROFILE
		FROM FRIEND F
		JOIN MEMBER M
		ON F.FRIEND_NO = M.NO
		WHERE F.MEMBER_NO = #{memberNo}
		<if test="searchValue != null and searchValue != ''">
			AND M.NAME LIKE '%${searchValue}%'
		</if>
	</select>
	
	<!-- 채팅방 정보를 INSERT 하는 쿼리 -->
	<insert id="addChatRoom">
	INSERT INTO CHATTING_ROOM 
	(NO, MASTER_NO)
	VALUES (SEQ_CHATTING_ROOM_NO.NEXTVAL, #{masterNo}) 
	</insert>

	<select resultType="com.hp.app.chat.vo.ChatRoomVo" id="selectRoomNo">
		SELECT *
		FROM(SELECT NOFROM CHATTING_ROOMWHERE MASTER_NO = #{masterNo}ORDER BY NO DESC)
		WHERE ROWNUM = 1 
	</select>

	<insert id="insertMemberInRoom">
	INSERT INTO CHATTING_MEMBER_LIST
	(CHATTING_ROOM_NO,MEMBER_NO)
	VALUES(#{no},#{friendNo}) 
	</insert>

	<select resultType="com.hp.app.chat.vo.ChatMessageVo" id="selectChatMsg">
		SELECT 
		CM.CONTENT
		, CM.SEND_TIME,M.NAME AS MEMBER_NAME
		,M.PROFILE MEMBER_PROFILE
		FROM CHATTING_MESSAGE CM
		JOIN MEMBER M
		ON CM.MEMBER_NO = M.NO
		WHERE CHATTING_ROOM_NO = #{no}
		ORDER BY CM.SEND_TIME ASC 
	</select>
	

</mapper>