<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="point">

	<!-- 회원 -->
	
	<!-- 관리자 -->
	<!-- 상벌점 전체 갯수 -->
	<select id="getPointCntAdmin" resultType="int">
		SELECT COUNT(NO)
		FROM POINT
	</select>
	
	<!-- 상벌점 List 조회 -->
	<select id="getPointListAdmin" resultType="com.hp.app.point.vo.PointVo">
		SELECT 
	        P.NO
	        , P.SCORE
	        , P.CONTENT
	        , TO_CHAR(P.POINT_DATE, 'YY.MM.DD HH24:MI') AS POINT_DATE
	        , M.NO AS MEMBER_NO
	        , M.NAME AS MEMBER_NAME 
	        , M.PROFILE AS MEMBER_PROFILE
	        , A.NO AS ADMIN_NO
	        , A.NAME AS ADMIN_NAME
		FROM POINT P
		JOIN MEMBER M ON P.MEMBER_NO = M.NO
		JOIN ADMIN A ON P.ADMIN_NO = A.NO
	</select>
	
	<!-- 상벌점 상세조회 -->
	<select id="getPointByNo" resultType="com.hp.app.point.vo.PointVo">
		SELECT 
	        P.NO
	        , P.SCORE
	        , P.CONTENT
	        , M.NO AS MEMBER_NO
	        , M.NAME AS MEMBER_NAME 
	        , M.PROFILE AS MEMBER_PROFILE
		FROM POINT P
		JOIN MEMBER M ON P.MEMBER_NO = M.NO
		JOIN ADMIN A ON P.ADMIN_NO = A.NO
		WHERE P.NO = #{pno}
	</select>
	
	<!-- 상벌점 삭제 -->
	<delete id="deletePoint">
		DELETE FROM POINT
		WHERE NO = #{pno}
	</delete>
	
	<!-- 상벌점 수정 -->
	<update id="editPoint">
		
	</update>
  
</mapper>