<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="innerFac">
	<!-- 모든시설의 모든 정보 조회 -->
	<select id="getAllInnerFacInfo" resultType="com.hp.app.innerFac.vo.InnerFacVo">
		SELECT
			NO
			,NAME
			,CONTENT
			,MAX_NUM
			,OPEN_TIME
			,CLOSE_TIME
			,STATUS
			,LOCATION
		FROM AMENITY 
	</select>
	
	<select id="getOpenCloseTime" resultType="com.hp.app.innerFac.vo.InnerFacVo">
		SELECT OPEN_TIME, CLOSE_TIME,MAX_NUM
		FROM AMENITY WHERE NO=#{no}
	</select>
	<select id="getPeopleCnt">
	</select>
	<insert id="makeReservation"> 
		INSERT INTO AMENITY_RESERVATION 
			(NO,AMENITY_NO,MEMBER_NO,RESERVE_TIME) 
		VALUES 
			(SEQ_AMENITY_RESERVATION_NO.NEXTVAL, #{amenityNo}, #{memberNo}, #{reserveTime})
	</insert>
	
	<!-- 개인의 예약현황을 불러오기 -->
	<select id="getReservationTimeInfo" resultType="String">
		SELECT RESERVE_TIME 
		FROM AMENITY_RESERVATION 
		WHERE MEMBER_NO=#{memberNo} 
		AND RESERVE_TIME LIKE '${reserveTime}%' 
	</select>
	
	<!-- 해당시설에 해당시간에 예약한 사람 수 가져오기 -->
	<select id="getReservedPeopleCntBytime" resultType="int">
		SELECT COUNT(*) FROM AMENITY_RESERVATION
		WHERE AMENITY_NO =#{amenityNo} AND RESERVE_TIME =#{reserveTime} 
	</select>
	
	<select id="getMaxPeopleCnt" resultType="int">
		SELECT MAX_NUM FROM AMENITY WHERE NO =#{no}
	</select>
	
	<!-- 회원 본인이 취소 -->
	<delete id="delete">
		DELETE AMENITY_RESERVATION 
		WHERE AMENITY_NO=#{amenityNo} AND RESERVE_TIME =#{reserveTime} AND MEMBER_NO=#{memberNo}	
	</delete>
	
	
	<!-- 시설정보칼럼 반환 -->
	<select id="getInnerFacInfo" resultType="com.hp.app.innerFac.vo.InnerFacVo">
		SELECT * FROM AMENITY WHERE NO = #{no}
	</select>
	
	<!-- 시설이미지 반환 -->
	<select id="getInnerFacImg" resultType="String">
		SELECT ORIGIN_NAME FROM AMENITY_IMG WHERE AMENITY_NO = #{no}
	</select>
	
	<!-- 업데이트 편의시설 정보 -->
	<update id="updateInnerFacInfo">
		UPDATE AMENITY 
			SET 
			CONTENT = #{content}
			,OPEN_TIME = #{openTime}
			,CLOSE_TIME = #{closeTime}
			,MAX_NUM = #{maxNum}
			WHERE NO = #{facNo}
	</update>

	
	
</mapper>