<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
	<select id="getCaptain" resultType="com.hp.app.admin.vo.AdminVo">
		SELECT * FROM ADMIN
		WHERE
		GRADE = 'D' AND NAME = #{name} AND STATUS = 'Y'
	</select>

	<select id="getCaptainLoveCnt" resultType="int">
		SELECT COUNT(*) FROM
		CAPTAIN_LOVE
		WHERE LOVE = 'L' AND CAPTAIN_NO = #{no}
	</select>

	<select id="getCaptainHateCnt" resultType="int">
		SELECT COUNT(*) FROM
		CAPTAIN_LOVE
		WHERE LOVE = 'H' AND CAPTAIN_NO = #{no}
	</select>

	<select id="getMyCaptainLove" resultType="String"
		parameterType="java.util.List">
		SELECT LOVE FROM
		CAPTAIN_LOVE
		WHERE MEMBER_NO = #{list[0]}
		AND CAPTAIN_NO = #{list[1]}
	</select>

	<update id="voteCaptainLove" parameterType="java.util.List">
		UPDATE CAPTAIN_LOVE
		SET LOVE = #{list[0]}
		WHERE MEMBER_NO = #{list[1]}
		AND CAPTAIN_NO =
		#{list[2]}
	</update>
	
	<insert id="voteCaptainLoveInsert" parameterType="java.util.List">
		INSERT INTO CAPTAIN_LOVE VALUES(#{list[1]}, #{list[2]}, #{list[0]})
	</insert>

	<select id="getNoticeCnt" resultType="int">
		SELECT COUNT(*)
		FROM NOTICE
	</select>

	<select id="getNoticeList"
		resultType="com.hp.app.notice.vo.NoticeVo">
		SELECT
		N.NO AS NO
		,N.NOTICE_CNO AS NOTICE_CNO
		,C.NAME AS
		NOTICE_CNAME
		,N.WRITER_NO AS WRITER_NO
		,A.NAME AS WRITER_NAME
		,TITLE
		,CONTENT
		,ENROLL_DATE
		,MODIFY_DATE
		,N.STATUS
		,N.HIT
		,IMPORTANT_YN
		FROM
		NOTICE N
		JOIN NOTICE_CATEGORY C ON N.NOTICE_CNO = C.NO
		JOIN ADMIN A ON
		N.WRITER_NO = A.NO
		WHERE N.STATUS = 'Y'
		ORDER BY
		N.ENROLL_DATE DESC
	</select>

	<select id="getPopularCnt" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
	</select>

	<select id="getPopularList"
		resultType="com.hp.app.board.vo.BoardVo">
		SELECT
		B.NO AS NO
		,B.WRITER_NO AS WRITER_NO
		,M.NAME AS
		WRITER_NAME
		,B.BOARD_CNO AS BOARD_CNO
		,C.NAME AS BOARD_CNAME
		,TITLE
		,B.CONTENT AS CONTENT
		,B.ENROLL_DATE AS ENROLL_DATE
		,B.MODIFY_DATE AS
		MODIFY_DATE
		,HIT
		FROM
		BOARD B
		JOIN BOARD_CATEGORY C ON B.BOARD_CNO = C.NO
		JOIN MEMBER M ON B.WRITER_NO = M.NO
		ORDER BY HIT DESC
	</select>

	<select id="getMemberCalendarList"
		resultType="com.hp.app.calendar.vo.MemberCalendarVo">
		SELECT * FROM MEMBER_CALENDAR
		WHERE WRITER_NO = #{no}
		ORDER
		BY START_DATE
	</select>

	<select id="getMemberPointList"
		resultType="com.hp.app.member.vo.MemberVo">
		SELECT * FROM MEMBER M
		JOIN
		(SELECT MEMBER_NO, SUM(SCORE) AS
		SCORE
		FROM POINT
		GROUP BY MEMBER_NO) Q
		ON Q.MEMBER_NO = M.NO
	</select>

	<select id="getDongPointList"
		resultType="com.hp.app.member.vo.MemberVo">
		SELECT DONG_NUM, SUM(SCORE) AS SCORE FROM
		(SELECT * FROM
		MEMBER M
		JOIN
		(SELECT MEMBER_NO, SUM(SCORE) AS SCORE
		FROM POINT
		GROUP BY
		MEMBER_NO) Q
		ON Q.MEMBER_NO = M.NO)
		GROUP BY DONG_NUM
		ORDER BY SCORE DESC
	</select>

	<select id="getNoticeCalendarList"
		resultType="com.hp.app.calendar.vo.NoticeCalendarVo">
		SELECT * FROM NOTICE_CALENDAR
		ORDER BY START_DATE
	</select>

	<select id="getReportCnt" resultType="int">
		SELECT COUNT(*) FROM REPORT
		WHERE ANSWER_DATE IS NULL
	</select>

	<select id="getQnaCnt" resultType="int">
		SELECT COUNT(*) FROM QNA
		WHERE
		ANSWER_DATE IS NULL
	</select>

	<select id="getNormalMemberCnt" resultType="int">
		SELECT COUNT(*) FROM
		MEMBER
		WHERE STATUS = 'Y'
	</select>

	<select id="getWaitMemberCnt" resultType="int">
		SELECT COUNT(*) FROM
		MEMBER
		WHERE STATUS = 'W'
	</select>

	<select id="getAdminFeeList"
		resultType="com.hp.app.fee.vo.AdminFeeVo">
		SELECT SUM(PRICE) PRICE, NAME AS CATEGORY_NAME FROM
		(SELECT
		* FROM ADMIN_FEE AF
		JOIN ADMIN_FEE_CATEGORY AFC ON AF.FEE_CNO = AFC.NO)
		WHERE
		EXTRACT(YEAR FROM
		CAST(PAYMENT_DATE AS DATE)) = EXTRACT(YEAR FROM
		CAST(SYSDATE
		AS
		DATE))
		AND EXTRACT(MONTH FROM CAST(PAYMENT_DATE AS DATE))
		=
		EXTRACT(MONTH FROM
		CAST(SYSDATE AS DATE))
		GROUP BY NAME
	</select>

	<select id="getTotalFee" resultType="int">
		SELECT SUM(PRICE) FROM
		ADMIN_FEE
		WHERE
		EXTRACT(YEAR FROM
		CAST(PAYMENT_DATE AS DATE)) =
		EXTRACT(YEAR FROM CAST(SYSDATE
		AS
		DATE))
		AND EXTRACT(MONTH FROM
		CAST(PAYMENT_DATE AS DATE)) =
		EXTRACT(MONTH FROM
		CAST(SYSDATE AS DATE))
	</select>
</mapper>