<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meal">
	<select id="getMealList" resultType="com.hp.app.meal.vo.MealVo">
		SELECT * FROM BREAKFAST B
		JOIN DIET D ON B.DIET_NO = D.NO
		ORDER BY BREAKFAST_DATE
	</select>

	<select id="getMealCnt" resultType="int">
		SELECT COUNT(*) FROM
		BREAKFAST
	</select>

	<select id="getApplyCnt" resultType="int">
		SELECT COUNT(*) FROM
		MEAL_RESERVATION WHERE MEAL_NO = #{mealNo} AND MEMBER_NO = #{memberNo}
	</select>

	<insert id="applyBreakFast">
		INSERT INTO MEAL_RESERVATION
		VALUES(SEQ_MEAL_RESERVATION_NO.NEXTVAL, #{mealNo}, #{memberNo}, 'Y')
	</insert>

	<select id="selectMeal" resultType="com.hp.app.meal.vo.MealVo">
		SELECT * FROM BREAKFAST B
		JOIN DIET D ON B.DIET_NO = D.NO
		WHERE B.NO = #{no}
	</select>

	<update id="editMeal">
		UPDATE BREAKFAST SET DIET_NO = #{dietNo}
		WHERE NO =
		#{no}
	</update>

	<select id="getDietList" resultType="com.hp.app.meal.vo.MealVo">
		SELECT * FROM DIET
	</select>

	<select id="getApplyList" resultType="com.hp.app.meal.vo.MealVo">
		SELECT * FROM
		MEAL_RESERVATION M
		JOIN BREAKFAST B ON M.MEAL_NO = B.NO
		JOIN DIET D ON
		B.DIET_NO = D.NO
		WHERE MEMBER_NO = #{no} AND STATUS = 'Y'
		ORDER BY
		BREAKFAST_DATE
	</select>

	<update id="cancelApply">
		UPDATE MEAL_RESERVATION SET STATUS = 'X'
		WHERE NO = #{no}
	</update>
</mapper>