<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberManagement">

	<!-- 회원 -->
	<!-- 일반 회원 전체 갯수 -->
	<select id="getMemberListCnt" resultType="com.hp.app.member.vo.MemberVo">
		SELECT STATUS
		FROM MEMBER
		WHERE STATUS IN ('Y','N','S')
			<if test="searchType == 'NAME' and searchValue != '' and searchValue != null">
				AND NAME LIKE '%${searchValue}%'
			</if>
			<if test="searchType == 'DONG' and searchValue != '' and searchValue != null">
				AND DONG_NUM LIKE '%${searchValue}%'
			</if>
			<if test="searchType == 'HO' and searchValue != '' and searchValue != null">
				AND HO_NUM LIKE '%${searchValue}%'
			</if>
			<if test="searchType == 'PHONE' and searchValue != '' and searchValue != null">
				AND PHONE LIKE '%${searchValue}%'
			</if>
	</select>

	<!-- 일반 회원 조회 -->
	<select id="getMemberList" resultType="com.hp.app.member.vo.MemberVo">
		SELECT *
		FROM MEMBER
		<where>
			<if test="status == null or status == ''">
				AND STATUS IN ('Y','N','S')
			</if>
			<if test='status == "N"'>
				AND STATUS = #{status}
			</if>
			<if test='status == "S"'>
				AND STATUS = #{status}
			</if>
			<if test="searchType == 'NAME' and searchValue != '' and searchValue != null">
				AND NAME LIKE '%${searchValue}%'
			</if>
			<if test="searchType == 'DONG' and searchValue != '' and searchValue != null">
				AND DONG_NUM LIKE '%${searchValue}%'
			</if>
			<if test="searchType == 'HO' and searchValue != '' and searchValue != null">
				AND HO_NUM LIKE '%${searchValue}%'
			</if>
			<if test="searchType == 'PHONE' and searchValue != '' and searchValue != null">
				AND PHONE LIKE '%${searchValue}%'
			</if>
		</where>
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<!-- 회원 상세조회 -->
	<select id="getMemberByNo" resultType="com.hp.app.member.vo.MemberVo">
		SELECT *
		FROM MEMBER
		WHERE NO = #{mno}
	</select>
	
	<!-- 회원 상벌점 부여 -->
	<insert id="insertPointMember">
		INSERT INTO POINT 
        (
            NO
            ,MEMBER_NO
            ,ADMIN_NO
            ,SCORE
            ,CONTENT
        ) VALUES(
        SEQ_POINT_NO.NEXTVAL
        , #{memberNo}
        , #{adminNo}
        , #{score}
        , #{content}
        )
	</insert>
	
	<!-- 회원 삭제 -->
	<update id="deleteMember">
		UPDATE MEMBER
		SET STATUS = 'D'
		WHERE NO = #{mno}
	</update>
	
	<!-- 정규 회원 등록 -->
	<update id="regularMember">
		UPDATE MEMBER
		SET STATUS = 'Y'
		WHERE NO = #{mno}
	</update>

	<!-- 일반 회원 정지 시키기 -->
	<insert id="stopMember">
		INSERT INTO RESTRICTION 
		(
		    NO
		    ,ADMIN_NO
		    ,MEMBER_NO
		    ,CONTENT
		    ,STOP_DATE
		) VALUES (
		    SEQ_RESTRICTION_NO.NEXTVAL
		    , #{adminNo}
		    , #{memberNo}
		    , #{content}
		    , (SYSDATE + #{stopDate})
		)
	</insert>
	
	<!-- 일반 회원 -> 정지 회원 -->
	<update id="updateMemberStatus">
		UPDATE MEMBER
		SET STATUS = 'S'
		WHERE NO = #{memberNo}
	</update>
	
	<!-- 관리자 -->
	<!-- 관리자 전체 갯수 -->
	<select id="getAdminListCnt" resultType="com.hp.app.admin.vo.AdminVo">
		SELECT 
			STATUS
			, GRADE
		FROM ADMIN
		WHERE GRADE IN ('S','D')
		AND STATUS IN ('Y','N','S')
			<if test="searchType == 'NAME' and searchValue != '' and searchValue != null">
				AND NAME LIKE '%${searchValue}%'
			</if>
	</select>
	
	<!-- 관리자 전체 조회 -->
	<select id="getAdminList" resultType="com.hp.app.admin.vo.AdminVo">
		SELECT *
		FROM ADMIN
		<where>
			<if test="status == null or status == ''">
				AND STATUS IN ('Y','N','S')
			</if>
			<if test='status == "N"'>
				AND STATUS = #{status}
			</if>
			<if test='status == "S"'>
				AND STATUS = #{status}
			</if>
			<if test="grade == null or grade == ''">
				AND GRADE IN ('D','S')
			</if>
			<if test='grade == "D"'>
				AND GRADE = #{grade}
			</if>
			<if test='grade == "S"'>
				AND GRADE = #{grade}
			</if>
			<if test="searchType == 'NAME' and searchValue != '' and searchValue != null">
				AND NAME LIKE '%${searchValue}%'
			</if>
		</where>
		ORDER BY STATUS ASC
	</select>
	
	<!-- 관리자 상세 조회 -->
	<select id="getAdminByNo" resultType="com.hp.app.admin.vo.AdminVo">
		SELECT *
		FROM ADMIN
		WHERE NO = #{ano}
	</select>
	
	<!-- 관리자 삭제 -->
	<update id="deleteAdmin">
		UPDATE ADMIN
		SET STATUS = 'D'
		WHERE NO = #{ano}
	</update>
	
	<!-- 관리자 정지 -->
	<update id="stopAdmin">
		UPDATE ADMIN
		SET STATUS = 'S'
		WHERE NO = #{ano}
	</update>
	
	<!-- 관리자 정규 회원 등록 -->
	<update id="regularAdmin">
		UPDATE ADMIN
		SET STATUS = 'Y'
		WHERE NO = #{ano}
	</update>
	
  
</mapper>