<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mine">
	<!-- 차등록 -->
	<insert id="registerCar">
		INSERT INTO CAR (NO,MEMBER_NO,UNIQUE_NUM,NAME,IMG)
		VALUES (SEQ_CAR_NO.NEXTVAL,#{memberNo},#{uniqueNum},#{name},#{img})
	</insert>
	<!-- 자전거등록 -->
	<insert id="registerBicycle">
		INSERT INTO BICYCLE (NO,MEMBER_NO,UNIQUE_NUM,NAME,IMG)
		VALUES (SEQ_MINE_NO.NEXTVAL,#{memberNo},#{uniqueNum},#{name},#{img})
	</insert>
	
	<!-- 개인의 목록을 조회는 유니온이 맞을듯 -->
	<select id="getCarListMember" resultType="com.hp.app.mine.vo.MineVo">
		SELECT 
		    C.NO
		    ,C.ADMIN_NO
		    ,C.MEMBER_NO
		    ,C.ENROLL_DATE
		    ,C.CONFIRM_DATE
		    ,C.UNIQUE_NUM
		    ,C.IMG
		    ,C.NAME
		FROM CAR C
		WHERE MEMBER_NO = #{no}
	</select>
	<!-- 관리자 자동차전체목록조회 -->
	<select id="getCarListAdmin" resultType="com.hp.app.mine.vo.MineVo" >
		SELECT 
		    C.NO
		    ,C.ADMIN_NO
		    ,C.MEMBER_NO
		    ,C.ENROLL_DATE
		    ,C.CONFIRM_DATE
		    ,C.UNIQUE_NUM
		    ,C.IMG
		    ,C.NAME
		    ,M.NAME AS MEMBER_NAME
		    ,M.PHONE AS PHONE
		    ,A.NAME AS ADMIN_NAME
		FROM CAR C
		JOIN MEMBER M ON(M.NO = C.MEMBER_NO)
		LEFT JOIN ADMIN A ON(A.NO = C.ADMIN_NO)
	</select>	
	
	<!-- 차조회시 개수 -->
	<select id="getCarCnt" resultType="int">
		SELECT COUNT(*) FROM ${kinda} C
		JOIN MEMBER M ON(M.NO = C.MEMBER_NO)
		<where>
		<if test = "uniqueNum != null and uniqueNum != '' ">
		and C.UNIQUE_NUM LIKE '%${uniqueNum}%'
		</if>
		<if test = "mineOwner != null and mineOwner != '' ">
		and M.NAME like '%${mineOwner}%'
		</if>
		<if test = "status != null and status != '' ">
		and C.STATUS = '${status}'
		</if>
		</where>
		
	</select>
	
	<!-- 디테일조회 ajax-->
	<select id="getDetailAdmin" resultType="com.hp.app.mine.vo.MineVo">
		SELECT 
		    C.UNIQUE_NUM
		    ,C.IMG
		    ,C.NAME
		    ,C.NO
		FROM ${kinda} C
		WHERE C.NO=#{no}
	</select>
	
	<!-- 검색 AllTable version -->
	<select id="searchAllList" resultType="com.hp.app.mine.vo.MineVo">
		SELECT 
		    C.NO
		    ,C.ENROLL_DATE
		    ,C.CONFIRM_DATE
		    ,C.UNIQUE_NUM
		    ,C.IMG
		    ,C.NAME
		    ,C.STATUS
		    ,M.NAME AS MEMBER_NAME
		    ,M.PHONE AS PHONE
		    ,A.NAME AS ADMIN_NAME
		FROM ${kinda} C 
		JOIN MEMBER M ON(M.NO = C.MEMBER_NO)
		LEFT JOIN ADMIN A ON(A.NO = C.ADMIN_NO) 
		<where>
		    <if test="uniqueNum != null and uniqueNum !='' ">
		    AND C.UNIQUE_NUM LIKE '%${uniqueNum}%'
		    </if>
		    <if test="mineOwner != null and mineOwner !=''" >
		    AND M.NAME LIKE '%${mineOwner}%'
		    </if>
		    <if test="status != null and status !='' " >
		    AND C.STATUS ='${status}' 
		    </if>
		</where>
		
	</select>
	
	<delete id="deleteProperty">
		DELETE FROM ${detailKinda}
		WHERE NO = #{detailNo}
	</delete>
	
</mapper>