<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	
	<!-- 공지사항 조회 -->
	<select id="getNoticeList" resultType="com.hp.app.notice.vo.NoticeVo">
		SELECT 
			N.NO AS NO
			,N.NOTICE_CNO AS NOTICE_CNO
			,C.NAME AS NOTICE_CNAME
			,('[' || C.NAME || ']' || ' ' || N.TITLE) AS FULL_NAME
			,N.WRITER_NO AS WRITER_NO
			,A.NAME AS WRITER_NAME
			,TITLE
			,CONTENT
			,ENROLL_DATE
			,MODIFY_DATE
			,STATUS
			,HIT
			,IMPORTANT_YN
		FROM
			NOTICE N
			JOIN NOTICE_CATEGORY C ON N.NOTICE_CNO = C.NO
			JOIN ADMIN A ON N.WRITER_NO = A.NO
		WHERE N.STATUS = 'Y'
		
		<if test="searchType == 'title' and searchValue != null and searchValue != ''">
			AND ('[' || C.NAME || ']' || ' ' || N.TITLE) LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'content' and searchValue != null and searchValue != ''">
			AND N.CONTENT LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'writer' and searchValue != null and searchValue != ''">
			AND A.NAME LIKE ('%${searchValue}%')
		</if>
		
		<choose>
			<when test="sortType == 'date'">
				ORDER BY N.ENROLL_DATE DESC
			</when>
			<when test="sortType == 'hit'">
				ORDER BY N.HIT DESC, N.NO DESC
			</when>
			<otherwise>
				ORDER BY N.NO DESC
			</otherwise>
		</choose>
		
	</select>


	<!-- 공지사항 개수 -->
	<select id="countNotice" resultType="int">
		SELECT COUNT(N.NO)
		FROM
			NOTICE N
			JOIN NOTICE_CATEGORY C ON N.NOTICE_CNO = C.NO
			JOIN ADMIN A ON N.WRITER_NO = A.NO
		WHERE STATUS ='Y'
		<if test="searchType == 'title' and searchValue != null and searchValue != ''">
			AND ('[' || C.NAME || ']' || ' ' || N.TITLE) LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'content' and searchValue != null and searchValue != ''">
			AND N.CONTENT LIKE ('%${searchValue}%')
		</if>
		<if test="searchType == 'writer' and searchValue != null and searchValue != ''">
			AND A.NAME LIKE ('%${searchValue}%')
		</if>
	</select>
	
	
	<!-- 공지사항 상세조회 -->
	<select id="viewDetail" resultType="com.hp.app.notice.vo.NoticeVo">
		SELECT 
			N.NO AS NO
			,N.NOTICE_CNO AS NOTICE_CNO
			,C.NAME AS NOTICE_CNAME
			,('[' || C.NAME || ']' || ' ' || N.TITLE) AS FULL_NAME
			,N.WRITER_NO AS WRITER_NO
			,A.NAME AS WRITER_NAME
			,TITLE
			,CONTENT
			,ENROLL_DATE
			,MODIFY_DATE
			,STATUS
			,HIT
			,IMPORTANT_YN
		FROM
			NOTICE N
			JOIN NOTICE_CATEGORY C ON N.NOTICE_CNO = C.NO
			JOIN ADMIN A ON N.WRITER_NO = A.NO
		WHERE N.STATUS = 'Y'
		AND N.NO = #{no}
	</select>
	
	
	<!-- 조회수 증가 -->
	<update id="plusHit">
		UPDATE NOTICE SET HIT = HIT +1
		WHERE NO = #{no} AND STATUS = 'Y'
	</update>
	
	
	<!-- 글 작성 -->
 	<insert id="write">
		INSERT INTO NOTICE (
			NO
		    ,NOTICE_CNO
		    ,WRITER_NO
		    ,TITLE
		    ,CONTENT
		    <!-- ,IMPORTANT_YN -->
		    )
		VALUES (
		    SEQ_NOTICE_NO.NEXTVAL
		    ,#{noticeCno}
		    ,#{writerNo}
		    ,#{title}
		    ,#{content}
<!-- 		    <choose>
				<when test="importantYn != null">
					,#{importantYn}
				</when>
				<when test="importantYn == null">
					,'N'
				</when>
			</choose> -->
		    )
	</insert>
	
	
	<!-- 글 수정 -->
	<update id="edit">
		UPDATE NOTICE
			SET
				NOTICE_CNO = #{noticeCno}
			    ,TITLE = #{title}
			    ,CONTENT = #{content}
<!-- 			    <choose>
					<when test='importantYn == "Y" or importantYn != null'>
						,IMPORTANT_YN = #{importantYn}
					</when>
					<when test="importantYn == null">
						,IMPORTANT_YN = 'N'
					</when>
				</choose> -->
			    
			WHERE NO = #{no} AND WRITER_NO = #{writerNo}
	</update>
	
	
	<!-- 카테고리 조회 -->
	<select id="getCategory" resultType="com.hp.app.notice.vo.NoticeCategoryVo">
		SELECT NO, NAME
		FROM NOTICE_CATEGORY
	</select>
	
	
	<!-- 글 삭제 -->
	<delete id="delete">
		UPDATE NOTICE 
			SET STATUS = 'N'
		WHERE NO = #{no}
		AND WRITER_NO = #{writerNo}
	</delete>

</mapper>