.report-area{
    width: 1440px;
    margin-top: 20px;
    margin-left: 100px;
}

.report-text-title{
    font-size: 40px;
    font-weight: 700;
}

.report-text{
    font-size: 20px;
    font-weight: 700;
    color: #5F5F5F;
    margin-top: 10px;
}

.report-form-area{
    margin-top: 15px;
    margin-left: 10px;
}

.report-category{
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(156, 156, 156);
    padding-left: 10px;
    font-weight: 800;
}

.report-category > option{
    font-weight: 800;
    font-family: 'Noto Sans KR';
    
}

.report-category-area{
    margin-top: 10px;
}

.report-title-area{
    margin-top: 10px;
}

.report-title{
    margin-top: 10px;
    width: 1200px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(156, 156, 156);
    padding-left: 10px;
}

.report-content{
    margin-top: 10px;
    background-color: white;
    border-radius: 6px;
    width: 1200px;
}

.report-submit-area{
    margin-top: 30px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-submit{
    width: 300px;
    height: 50px;
    background-color: rgb(255, 61, 61);
    border: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Noto Sans KR';
}

.report-submit:hover{
    cursor: pointer;
}

.report-first-area{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.report-people-body{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.report-people-area{
    margin-top: 10px;
}

.report-peole{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.report-people-name{
    font-weight: 800;
    margin-right: 10px;
}

.report-people-profile{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid rgb(187, 187, 187);
}

.report-people-profile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.report-people-btn{
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(156, 156, 156);
    width: 420px;
    height: 50px;
    cursor: pointer;
    color: #868686;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Noto Sans KR';
}

/* 신고대상 찾기 모달창 */
.member-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.member-window {
    position: relative;
    width: 100%;
    height: 100%;
}

.member-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
    /* 임시 지정 */
    width: 600px;
    height: 700px;
    
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
 }

.show .member-popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.model-header-area{
    width: 600px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFCE31;
}

.model-header{
    margin-left: 20px;
    width: 560px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#member-close{
    font-size: 30px;
    font-weight: 900;
    color: red;
    cursor: pointer;
}

.model-header-text{
    font-size: 20px;
    font-weight: 600;
}

.model-main-area{
    margin-top: 10px;
    width: 600px;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-btn{
    width: 200px;
    height: 50px;
    background-color: #FFCE31;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 900;
    margin-top: 30px;
}

.check-btn:hover{
    cursor: pointer;
}

.model-search-area{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.model-search-btn{
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #FFCE31;
    border-radius: 6px;
    font-weight: 900;
    font-family: 'Noto Sans KR';
    font-size: 16px;
}

.model-search-btn:hover{
    cursor: pointer;
}

.model-serach-input{
    padding-left: 10px;
    width: 300px;
    height: 40px;
    border: none;
    font-family: 'Noto Sans KR';
    font-weight: 800;
}

.model-serach-input:focus{
    outline: none;
}


.model-search-category{
    padding-left: 10px;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Noto Sans KR';
    font-weight: 800;
    
}


.model-serach-category:focus{
    outline: none;
}

.model-search-box-area{
    width: 400px;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.model-content-area{
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #d4d4d4d7;
    width: 420px;
    height: 450px;
    overflow: scroll;
}

.model-content-area::-webkit-scrollbar {
    display: none;
}

.model-content-plist{
    border-bottom: 1px solid #d4d4d4d7;
    width: 420px;
    height: 60px;
    display: flex;
    align-items: center;
}

.model-content-plist:hover{
    background-color: #ebebeb;
}

.plist-profile{
    width: 40px;
    height: 40px;
    border-radius: 70%;
    margin-left: 20px;
    border: 1px solid black;
    overflow: hidden;
}

.plist-profile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plist-name{
    margin-left: 10px;
    font-weight: 800;
}

.plist-address{
    margin-left: 10px;
    margin-top: 4px;
    font-weight: 800;
    font-size: 10px;
    color: #5F5F5F;
}

.check{
    background-color: #fff2c9;
}

