#wrap {
    height: 1000px;
    display: grid;
    grid-template-columns: 750px 792px;
}

#fee-area {
    display: grid;
    grid-template-rows: 250px 550px;
}

.total-area {
    background-color: #4A321f;
    color: #ffffff;
    display: grid;
    grid-template-rows: 40px 170px 40px;
}

.select-area {
    margin-left: 20px;
}

#paymentDate {
    width: 200px;
    height: 35px;
    border: none;
    background-color: #4A321f;
    color: #ffffff;
    font-size: 25px;
    font-weight: 530;
    margin-top: 10px;
    cursor: pointer;
}

.price-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}

.priceBox {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.price-area > div > .won {
    color: #fad355;
    font-size: 35px;
    font-weight: 600;
    margin-right: 10px;
}

.detail-area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin-bottom: 10px;
}

.detail-content-area > table{
    height: 800px;
    width: 720px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

.detail-content-area > table > thead {
    float:left; width:750px;
}

.detail-content-area > table > tbody {
    overflow-y:auto; overflow-x:hidden; float:left; width:750px; height:800px
}

.detail-content-area > table > tbody::-webkit-scrollbar {
    width: 10px; 
}

.detail-content-area > table > tbody::-webkit-scrollbar-track {
    background-color: #e0e0e0; 
}

.detail-content-area > table > tbody::-webkit-scrollbar-thumb {
    background-color: #4A321F; 
}


.detail-content-area > table > tbody > tr:hover {
    cursor: pointer;
    background-color: #fdeaab;
}

.detail-content-area > table > thead> tr {
    width: 100%;
}


.detail-content-area > table > thead> tr > th {
    background-color: #d9d9d9;
    font-weight: 500;
    font-size: 23px;
    border-right: 1px solid black;
    height: 40px;
    width: 380px;
    border-bottom: 1px solid black;
}

.detail-content-area > table > tbody > tr > td {
    font-weight: 500;
    font-size: 23px;
    padding: 10px;
    width: 380px;
}

.detail-content-area > table > tbody > tr > td:last-child {
    border-right: none; 
}

.detail-content-area > table > tbody > tr:last-child > td {
    border-bottom: none; 
}

/* 차트 영역 */
#chart-area  {
    display: grid;
    grid-template-rows: 100px 500px 400px;
    width: 100%;
}

.bar-chart-area {
    display: grid;
    grid-template-rows: 400px 40px;
    background: #ffffff;
    width: 730px;
    height: 500px;
    margin: auto;
}

.title {
    height: 50px;
    width: 320px;
    background-color: #4A321f;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 23px;
}

.bar-chart-area > .bar {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.bar-chart-area > .bar > div {
    width: 120px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fad355;
    color: black;
    font-weight: 600;
}

.bar-chart-area > .bar > div:first-child {
    width: 120px;
    height: 300px;
}

.bar-chart-area > .text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
}

.bar-chart-area > .text > div:nth-child(1){
    margin-right: 30px;
}

.bar-chart-area > .text > div:nth-child(1) > div{
    color: #00A3FF;
}

.bar-chart-area > .text > div:nth-child(3){
    margin-left: 45px;
}

.bar-chart-area > .text > div:nth-child(3) > div{
    color: #EB2114;
}

.line-chart-area {
    display: grid;
    grid-template-rows: 40px 200px;
    font-weight: 500;
    font-size: 23px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.line-chart-area div, .categoroy_area{
    height: 50px;
    width: 250px;
    background-color: #4A321f;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
    padding-left: 15px;
}

#myChart {
    width: 200px;
    height: 300px;
    background: #ffffff;
}